{% extends "base.html" %} {% block title %}Stock Watcher{% endblock %}

{% block body %}

<style>
  @font-face {
    font-family: "RalewayDots";
    src: url("{{ url_for('.static',filename='fonts/RalewayDots-Regular.ttf') }}");
  }
</style>

<link rel="stylesheet" href={{ url_for('.static',filename='css/styles.css') }}>
<div class="title">
  <h3>Stock Watcher</h3>
  
</div>
<div class="outer">
  <div class="middle">
    <div class="inner">
      <h1>{{stock}} - {{price}}</h1>
    </div>
  </div>
</div>
{% endblock %}
